* {
 font-family: "Quattrocento Sans", sans-serif;
 -webkit-font-smoothing: subpixel-antialiased;
}

.iframe::before {
 padding: 0;
}

.text-info {
 color: #25b99a!important;
}

.btn-outline-info {
 color: #25b99a;
 border-color: #25b99a;
}

.btn-outline-info:hover {
 background-color: #fff;
 color: #25b99a;
 border-color: #25b99a;
}

.badge-info {
 background-color: #25b99a;
}

.outline-info {
 border-color: #25b99a;
}

.outline-info::placeholder {
 color: #25b99a;
}

.outline-info:focus {
 border-color: #25b99a;
}

.feature-button {
  background: none;
}

.feature-button:hover {
  cursor: pointer;
}

.note-list {
  height: 477px;
  overflow-y: auto;
}

.close:hover {
  cursor: pointer;
}
